
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-image: none;
    border: none;
    &:hover {
        outline: none;
    }
}